@page "/"
@using BlazorTypewriter

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center align-items-center min-vh-100 flex-column">
    <h3>Hello, I'm</h3>
    <h1>Austin Massey</h1>
    <h2><Typewriter Builder="@typewriter"/></h2>
</div>
@code {
    private BlazorTypewriter.TypewriterBuilder typewriter = new BlazorTypewriter.TypewriterBuilder()
        .TypeString("an Automation Professional.")
        .Pause(1000)
        .DeleteAll()
        .TypeString("a Software Developer.")
        .Pause(1000)
        .DeleteAll()
        .TypeString("a Dev Ops Enthusiast.")
        .Pause(1000)
        .DeleteAll()
        .Loop();
}
