name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - master

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      
      # Add step to replace tokens in production config
      - name: Replace EmailJS Configuration
        run: |
          sed -i 's/#{EMAILJS_SERVICE_ID}#/${{ secrets.EMAILJS_SERVICE_ID }}/g' wwwroot/appsettings.Production.json
          sed -i 's/#{EMAILJS_TEMPLATE_ID}#/${{ secrets.EMAILJS_TEMPLATE_ID }}/g' wwwroot/appsettings.Production.json
          sed -i 's/#{EMAILJS_PUBLIC_KEY}#/${{ secrets.EMAILJS_PUBLIC_KEY }}/g' wwwroot/appsettings.Production.json
          sed -i 's/#{EMAILJS_RECIPIENT_EMAIL}#/${{ secrets.RECIPIENT_EMAIL }}/g' wwwroot/appsettings.Production.json
      
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PROUD_DUNE_007A2771E }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/"
          api_location: "Api"
          output_location: "wwwroot"

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PROUD_DUNE_007A2771E }}
          action: "close"

